flows/flows.json
[
    {
        "id": "flow_galeria",
        "type": "tab",
        "label": "Qualidade do Ar - Galeria",
        "disabled": false,
        "info": "Monitoramento de qualidade do ar em galeria subterrânea de mineração"
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "nodered_galeria",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "ui_tab_galeria",
        "type": "ui_tab",
        "name": "Galeria - Qualidade do Ar",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui_group_sensores",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "ui_tab_galeria",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ui_group_status",
        "type": "ui_group",
        "name": "Status",
        "tab": "ui_tab_galeria",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_alertas",
        "type": "ui_group",
        "name": "Alertas",
        "tab": "ui_tab_galeria",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "mqtt_in_all",
        "type": "mqtt in",
        "z": "flow_galeria",
        "name": "All Sensors",
        "topic": "mineracao/galeria/ponto1/#",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 200,
        "wires": [["process_sensor"]]
    },
    {
        "id": "process_sensor",
        "type": "function",
        "z": "flow_galeria",
        "name": "Process Sensor",
        "func": "// Extract sensor name from topic\nvar sensor = msg.topic.split('/').pop();\nvar value = msg.payload.value;\n\n// Store in flow context\nvar sensors = flow.get('sensors') || {};\nsensors[sensor] = value;\nflow.set('sensors', sensors);\n\n// Build NGSI patch\nvar patch = {};\npatch[sensor] = { type: 'Number', value: value };\n\n// Check thresholds\nvar ch4 = sensors.ch4 || 0;\nvar co = sensors.co || 0;\nvar status = 'normal';\nvar fanOn = false;\n\nif (ch4 > 1.0 || co > 25.0) {\n    status = 'alerta';\n    fanOn = true;\n} else if (ch4 > 0.5 || co > 15.0) {\n    status = 'atencao';\n}\n\n// Add status and fan to patch\npatch.status = { type: 'String', value: status };\npatch.ventilador = { type: 'Boolean', value: fanOn };\n\n// Prepare messages\nvar msgPatch = {\n    payload: patch\n};\n\nvar msgStatus = {\n    payload: {\n        ch4: ch4,\n        co: co,\n        co2: sensors.co2 || 0,\n        temperatura: sensors.temperatura || 0,\n        umidade: sensors.umidade || 0,\n        ventilador: fanOn,\n        status: status\n    }\n};\n\nvar msgFan = {\n    payload: fanOn.toString()\n};\n\nreturn [msgPatch, msgStatus, msgFan];",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 200,
        "wires": [["http_patch_orion"], ["ui_gauge_ch4", "ui_gauge_co", "ui_gauge_co2", "ui_gauge_temp", "ui_gauge_humid", "ui_fan_status", "ui_alert_status"], ["mqtt_out_fan"]]
    },
    {
        "id": "http_patch_orion",
        "type": "http request",
        "z": "flow_galeria",
        "name": "PATCH Orion",
        "method": "PATCH",
        "retain": "",
        "paytoqs": "ignore",
        "url": "http://orion:1026/v2/entities/Galeria:Ponto1/attrs",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": "[{\"Content-Type\":\"application/json\"}]",
        "x": 600,
        "y": 140,
        "wires": [[]]
    },
    {
        "id": "mqtt_out_fan",
        "type": "mqtt out",
        "z": "flow_galeria",
        "name": "Fan Command",
        "topic": "mineracao/galeria/ponto1/ventilador/comando",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 600,
        "y": 260,
        "wires": []
    },
    {
        "id": "ui_gauge_ch4",
        "type": "ui_gauge",
        "z": "flow_galeria",
        "name": "CH4",
        "group": "ui_group_sensores",
        "order": 1,
        "width": "4",
        "height": "3",
        "gtype": "gage",
        "title": "CH4 (%)",
        "label": "Metano",
        "format": "{{payload.ch4}}",
        "min": 0,
        "max": 2,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "0.5",
        "seg2": "1.0",
        "className": "",
        "x": 820,
        "y": 140,
        "wires": []
    },
    {
        "id": "ui_gauge_co",
        "type": "ui_gauge",
        "z": "flow_galeria",
        "name": "CO",
        "group": "ui_group_sensores",
        "order": 2,
        "width": "4",
        "height": "3",
        "gtype": "gage",
        "title": "CO (ppm)",
        "label": "Monoxido",
        "format": "{{payload.co}}",
        "min": 0,
        "max": 50,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "15",
        "seg2": "25",
        "className": "",
        "x": 820,
        "y": 200,
        "wires": []
    },
    {
        "id": "ui_gauge_co2",
        "type": "ui_gauge",
        "z": "flow_galeria",
        "name": "CO2",
        "group": "ui_group_sensores",
        "order": 3,
        "width": "4",
        "height": "3",
        "gtype": "gage",
        "title": "CO2 (ppm)",
        "label": "Dioxido",
        "format": "{{payload.co2}}",
        "min": 0,
        "max": 2000,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "1000",
        "seg2": "1500",
        "className": "",
        "x": 820,
        "y": 260,
        "wires": []
    },
    {
        "id": "ui_gauge_temp",
        "type": "ui_gauge",
        "z": "flow_galeria",
        "name": "Temp",
        "group": "ui_group_sensores",
        "order": 4,
        "width": "4",
        "height": "3",
        "gtype": "gage",
        "title": "Temp (C)",
        "label": "Temperatura",
        "format": "{{payload.temperatura}}",
        "min": 15,
        "max": 50,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "35",
        "seg2": "40",
        "className": "",
        "x": 820,
        "y": 320,
        "wires": []
    },
    {
        "id": "ui_gauge_humid",
        "type": "ui_gauge",
        "z": "flow_galeria",
        "name": "Umidade",
        "group": "ui_group_sensores",
        "order": 5,
        "width": "4",
        "height": "3",
        "gtype": "gage",
        "title": "Umidade (%)",
        "label": "UR",
        "format": "{{payload.umidade}}",
        "min": 0,
        "max": 100,
        "colors": ["#ca3838", "#00b500", "#ca3838"],
        "seg1": "40",
        "seg2": "85",
        "className": "",
        "x": 820,
        "y": 380,
        "wires": []
    },
    {
        "id": "ui_fan_status",
        "type": "ui_text",
        "z": "flow_galeria",
        "group": "ui_group_status",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Ventilador",
        "label": "Ventilador",
        "format": "{{#payload.ventilador}}LIGADO{{/}}{{^payload.ventilador}}DESLIGADO{{/}}",
        "layout": "row-spread",
        "className": "",
        "x": 820,
        "y": 440,
        "wires": []
    },
    {
        "id": "ui_alert_status",
        "type": "ui_text",
        "z": "flow_galeria",
        "group": "ui_group_alertas",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Status",
        "label": "Status",
        "format": "{{payload.status}}",
        "layout": "row-spread",
        "className": "",
        "x": 820,
        "y": 500,
        "wires": []
    }
]
